
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
  }
  
  html, body {
    height: 100%;
    overflow: hidden;  /* Prevent scrolling */
  }
  
  body {
    font-family: 'Nunito', sans-serif;
  }
  
  
  
  /* Remove default styling for text fields and inputs */
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  textarea {
    border: none; /* Remove border */
    background: none; /* Remove background */
    font: inherit; /* Inherit font styling */
    color: inherit; /* Inherit text color */
    outline: none; /* Remove focus outline */
    box-shadow: none; /* Remove box shadow */
    appearance: none; /* Remove default browser appearance */
    width: inherit;
  }
  
  
  div[contenteditable="true"] {
    outline: none;
  }
  
  /* Remove default button styling */
  button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
  
    display: inline-flex;
    white-space: nowrap;
  }
  
  /* Heading sizes in em */
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.17em;
  }

:root {
    --small-padding: 0.3em 0.5em;
    --default-padding: 0.5em 0.7em;
    --large-padding: 1.5em 2em;

    
}


a {
  text-decoration: none;
  color: inherit;
}