:root {
  /* Color Variables */
  --red-rgb: 255, 59, 48;
  --pink-rgb: 255, 45, 85;
  --orange-rgb: 255, 149, 0;
  --yellow-rgb: 255, 204, 0;
  --green-rgb: 40, 205, 65;
  --mint-rgb: 0, 199, 190;
  --teal-rgb: 89, 173, 196;
  --cyan-rgb: 85, 190, 240;
  --blue-rgb: 0, 122, 255;
  --indigo-rgb: 88, 86, 214;
  --purple-rgb: 175, 82, 222;
  --gray-rgb: 142, 142, 147;
  --brown-rgb: 162, 132, 94;

  /* Color Variables */
  --red: rgb(255, 59, 48);
  --pink: rgb(255, 45, 85);
  --orange: rgb(255, 149, 0);
  --yellow: rgb(255, 204, 0);
  --green: rgb(40, 205, 65);
  --mint: rgb(0, 199, 190);
  --teal: rgb(89, 173, 196);
  --cyan: rgb(85, 190, 240);
  --blue: rgb(0, 122, 255);
  --indigo: rgb(88, 86, 214);
  --purple: rgb(175, 82, 222);
  --gray: rgb(142, 142, 147);
  --brown: rgb(162, 132, 94);

  /* Gray Shades */
  --gray-1: rgb(242, 242, 247); /* Lightest */
  --gray-2: rgb(229, 229, 234);
  --gray-3: rgb(209, 209, 214);
  --gray-4: rgb(199, 199, 204);
  --gray-5: rgb(174, 174, 178);
  --gray-6: rgb(142, 142, 147); /* Darkest */
}


/* Font Faces */

@font-face {
  font-family: 'Nunito';
  src: url('/src/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/fonts/Inter-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noto-Serif';
  src: url('NotoSerifDisplay-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}



/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}

html, body {
  height: 100%;
  overflow: hidden;  /* Prevent scrolling */
}

body {
  font-family: 'Nunito', sans-serif;
}



/* Remove default styling for text fields and inputs */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  border: none; /* Remove border */
  background: none; /* Remove background */
  font: inherit; /* Inherit font styling */
  color: inherit; /* Inherit text color */
  outline: none; /* Remove focus outline */
  box-shadow: none; /* Remove box shadow */
  appearance: none; /* Remove default browser appearance */
  width: inherit;
}


div[contenteditable="true"] {
  outline: none;
}

/* Remove default button styling */
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;

  display: inline-flex;
  white-space: nowrap;
}

/* Heading sizes in em */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

.align-horizontal-start {
  align-self: flex-start;
}
.align-horizontal-center {
  align-self: center;
}
.align-horizontal-end {
  align-self: flex-end;
}
.align-vertical-start {
  justify-self: flex-start;
}
.align-vertical-center {
  justify-self: center;
}
.align-vertical-end {
  justify-self: flex-end;
}
.aligned-item {
  position: relative;
}

.scroll-view {
  overflow: auto; /* Enable scrolling */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.scroll-view.vertical {
  overflow-y: auto; /* Vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scroll */
}
.scroll-view.horizontal {
  overflow-x: auto; /* Horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scroll */
}

.border-highlight {
  border: 1.5px solid var(--gray-2);
}

  /* Styling for paragraphs */
  .editable-content p {
    margin-top: 0.5em ;
    margin-bottom: 0.1em ;
  }

  /* Styling for Header 1 */
  .editable-content h1 {
    margin-top: 0.5em ;
    margin-bottom: 0.5em ;
  }

  /* Styling for Header 2 */
  .editable-content h2 {
    margin-top: 1em ;
    margin-bottom: 0.5em ;

  }

  .editable-content h3 {
    margin-top: 1em ;
    margin-bottom: 0.3em ;

  }

  /* Optional: Styling for links */
  .editable-content a {
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer; /* Change cursor to pointer */
    font-weight: bold;
  }

  .editable-content img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove inline spacing */
    object-fit: cover; /* Ensure the image covers the container fully */
    max-width: 100%; /* Ensure the image does not exceed the container's width */
  }
  

  :root {
    --default-padding: 0.5em 0.7em;
    --large-padding: 1.5em 2em;
}


a {
  text-decoration: none;
  color: inherit;
}






